*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
}

.wrapper{
    display:flex;
    align-items:center;
    justify-content:space-between;
    color:white;
    background-color: #131921;
    width:100%;
    
    padding:0 2.5rem;
    text-transform: capitalize;
   
}
.imgflag {
    width:25px;
    height:18px;
}
.imgflag img{
    width: 100%;
    height:100%;

}
.logo{
    width:130px;
    height:60px;
}
.logo img{
    width: 100%;
    height:100%;
}
.form{
    width:400px;

}
.form input{
    width:100%;
    padding:8px;
}
.seond,.third,.six{
    display: flex;
    align-items: center;
    justify-content: center;

}
header p{
    font-size:12px;
}
.wrapper2 ul{
    display:flex;
   
    
    align-items:center;
    justify-content: space-evenly;
    color: white;
  
    font-size:13px;
    text-transform: capitalize;
   
}
.wrapper2 li{
    list-style: none;
    margin-left:20px;
}
.wrapper2{
     display:flex;
     width:100%;
     background-color:#232f3e;
     align-items:center;
     justify-content: space-evenly;
     color:white;
     padding:8px 40px;
}
header h3{
    font-size:16px;
}
h6{
    width:145px;
}
.wrapper3{
    width:100%;
    height:100vh;
    background-image:url("img/background-image.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;

    display:flex;
    flex-wrap:wrap;
    align-items: center;
    justify-content: space-between;
    width:100%;
    padding:1rem 2.5rem;
    background-color:  #e1eaeb;
    padding-top: 20rem;

}
.secondpara{
    margin-left:0.5rem;
}
.fourbox1img{
    width:145px;
    height:102px;
}
.fourbox1img img{
    width:100%;
    height:100%;
}
.box1,.box2,.box3,.box4{
    width:350px;
    height:400px;
    padding:2rem 0.5rem;
    justify-content: center;
    background-color: white;
}
.fourbox{
    display:flex;
    align-items:center;
    justify-content: space-evenly;
    flex-wrap:wrap;
   
}
.box1 h3,.box2 h3,.box3 h3,.box4 h3{
    padding-left:0.8rem;
}
.fourbox1{
    margin:0.8rem 0;
}
.wrapper4{
   
   
}
.wrapper4
{
    display:flex;
    flex-wrap:wrap;
    align-items: center;
    justify-content: space-between;
    width:100%;
  
    padding:1rem 2.5rem;
    background-color:  #e3e6e6;
}
/* .box1{
   position: absolute;
   bottom:-100px;
   left:0;
}
.box4{
    position: absolute;
    bottom: -100px;
    right: 0;
  }
  .box2{
    position: absolute;
    bottom:-100px;
    left: 361px;
 }
 .box3{
    position: absolute;
    bottom:-100px;
    right:361px;
 } */
.baikeimg{
    width:270px;
    height:165px;
}
.baikeimg img{
    width:100%;
    height:100%;
    margin-right:1rem;
}
.flexbaike{
    display:flex;
    align-items:center;
    margin:0 2.5rem;
    justify-content: space-evenly;
    padding:1rem;
    
}
.wrapper6,.wrapper7{
  background-color:white;
  margin-top:1rem;
  width:100%;
  
 
}
.wrapper6 h3{
    padding:0.7rem 0 0 0.8rem;
}
.wraper8{
    display:flex;
    margin-top:1rem;
}
.wrapper7 h3{
    padding:0.7rem 0 0 0.8rem;
}
.sect2img{
    width:152px;
    height:158px;
}

.sect2img img{
    width:100%;
   
}
header{
position:sticky;
top:0;
}
.sect2{
    width:350px;
    height:400px;
    background-color:white;
    padding:1rem 0.5rem;
    margin-right:0.8rem;
}
.sect2flex{
    display:flex;
    align-items:center;
    flex-wrap:wrap;
    justify-content: space-evenly;
    /* margin-top:0.5rem; */
    margin:0.8rem 0;
}
.wrapper8{
    margin-top:1rem;
    display:flex;
    align-items: center;
}
.sect2 h3{
    margin-left:0.8rem;
}