*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    font-family: "Poppins", serif;
}
a{
    text-decoration: none;
}
.wrapper{
    display:flex;
    align-items:center;
    justify-content:space-between;
    color:white;
    background-color: #131921;
    width:100%;
    
    padding:0.4rem 2.5rem;
    text-transform: capitalize;
   z-index: 3;
}

.img4 i{
    font-size:x-small;
}
.imgflag {
    width:25px;
    height:18px;
}
.imgflag img{
    width: 100%;
    height:100%;

}
.logo{
    width: 130px;
    height: 44px;
}
.logo img{
    width: 100%;
    height:100%;
}
.form{
    width:400px;

}
.form input{
    width:100%;
    padding:8px;
}
.seond,.third,.six{
    display: flex;
    align-items: center;
    justify-content: center;
    padding:0.4rem;

}
header p{
    font-size:12px;
}
.wrapper2 ul{
    display:flex;
   
    
    align-items:center;
    justify-content: space-evenly;
    color: white;
  
    font-size:13px;
    text-transform: capitalize;
   
}
.wrapper2 ul li a{
    text-decoration: none;
    color:white;
    font-size:12px;
    
}
.six i{
   font-size:31px;
}
.wrapper2 li{
    list-style: none;
    margin-left:8px;
   

}
.wrapper2 h4{
    padding:0.4rem;
}
.wrapper2 ul li:hover{
    border:1px solid white;
}
ul li{
    padding:0.4rem
}
.wrapper2 h4:hover{
    border:1px solid white;
}
.logo:hover{
    border:1px solid white;
}
.third:hover{
    border:1px solid white;
    height:40px;
}
.fourth:hover{
    border:1px solid white;
}
.fourth{
    padding:0.4rem;
}
.five:hover{
    border:1px solid white;
}
.five{
    padding:0.4rem;
}

.six:hover{
    border:1px solid white;
}
.six{
    padding:0.4rem;
}
.wrapper2{
     display:flex;
     width:100%;
     background-color:#232f3e;
     align-items:center;
     justify-content: space-evenly;
     color:white;
     padding:8px 40px;
}
.seond:hover{
    border:1px solid white;
    
}
header h3{
    font-size:16px;
}
.wrapper3{
    background-image: url("img/background-image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width:100%;
    height:90vh;
    position:relative;
}
.wrapper13{
    display:flex;
    align-items:center;
    justify-content: space-between;
    width:90%;
    height:100%;
    position: absolute;
    bottom:-210px;
    /* left:0px; */
    /* margin:0 2.5rem; */
    margin-left:4.7rem;
}
.boxmain{
    margin-bottom:2rem;
}
.boxmain1{
    margin-bottom:1rem;
}
 .box1,.box3,.box4{
    width:23%;
    background-color:white;
    padding:1.5rem;
    height:43%;
}
 .box1 .fourbox,.box3 .fourbox,.box4 .fourbox{
    display:flex;
    align-items: center;

}
 .box1 .fourbox .fourbox1{
    width:77%;
    font-size:10px;
}
.fourbox1img{
    width:100%;

}
.fourbox1 h6{
    width:100%;
    font-size:8px;
}
.fourbox1img img{
    width:100%;
}
.fourbox1{
    margin:0.5rem 0.4rem 0 0;
}
.wrapper4{
    display:flex;
    align-items:center;
    justify-content: space-between;
    width:90%;
    height:100%;
    margin: auto;
    padding-top:1rem;
}
.wrappercol{
    background-color:#e3e6e6;
    width:100%;
    height:100%;

}
.wrappercolor{
    width:100%;
}
.wrapper6{
   background-color: white;
   width:90%;
   margin: 1rem auto;
   
}
.flexbaike{
    display: flex;
  align-items: center;
  justify-content: space-around;


}
.flex2img{
    width:90%;

}
.flex2img img{
    width:100%;
}
.baikeimg{
    width:100%;
    padding:2rem;
}
.baikeimg img{
    width:100%;

}
.wrapper9{
    width:90%;
    
    margin:1rem auto;
    background-color:white;
    display:flex;
    align-items:center;
    justify-content: space-around;
    padding:1rem;
}
.wrapper9box{
    width: 12%;
    border:1px solid rgb(146, 145, 145);
    padding:0.7rem;
    border-radius:5px;
    
}
.wrapper9img:hover{
    transform: scale(1.1);
}
.wrapper9img{
    width:62%;
   
    margin: 0.5rem auto;
}
.wrapper9img img{
    width:100%;
    transition: all 1s 4s ease-in-out;
}
.wrapper9para{
    font-size:16px;
}
.wrapper9flex{
    display:flex;
    
    justify-content: space-between;
    margin-top:0.3rem;
}
.wrapper9flex .limit2{
  font-size:12px;
  background-color:#cc0c39;
  color:white;
  padding:0.2rem;
  height: 2%;
}
.limit{
    font-size: 11px;
    margin-left: 0.2rem;
    color: #cc0c39;
    width: 53%;
}
.limit3 img{
    width:12%;
}
.limit31 img{
    width:10%;
}
.limit31{
    font-size:13px;
    color:rgb(185, 183, 183);
    text-decoration: line-through;
}
.wrapper10 .center{
    text-align: center;
    margin:3rem 0 2rem;
}
.wrapper10{
    width:100%;
    background-color: white;
    padding:1rem;
}
.signin{
    background-color:yellow;
    width:20%;
    margin:0.5rem auto;
    padding:0.3rem;
    border-radius: 20px;
}
.wrapper10 hr{
    color:azure;
}
.wrapper10 span{
    font-size:13px;
}
.wrapper10 .underline{
    text-decoration: underline;
}
.footer{
    width:100%;

}
.upperbase{
    background-color:#37475a;
    padding:0.5rem;
}
.upperbase h5{
    text-align:center;
    color:white;
}
.main-last-div{
    display:flex;
   
    justify-content: space-evenly;
    background-color:#232f3e;
    padding:2rem;
    color:white;
}
.main-last-div ul li a{
text-decoration: none;
color:white;
font-size:13px;
}
.main-last-div ul li {
    list-style: none;
}
.main-last-div li a:hover{
    text-decoration: underline;
}
.m{
    margin-bottom: 0.6rem;
}